<div class="item">

    <div class="item-img">
        <img src="/<%=item.photo%>" />
    </div>

    <div class="item-info">
        <p><%=item.name%></p>
        <p><%=item.manufacturer%></p>
        <p><%=item.category%></p>
    </div>

    <div class="item-price">
        <%=item.price%>
    </div>

</div>