<div class="item" data-id="<%=item.id%>">
    <div class="item__wrapper">
        <div class="item-img">
            <img src="/<%=item.photo%>" />
        </div>

        <div class="item-info">
            <p class="item-info__name"><%=item.name%></p>
            <p class="item-info__manufacturer"><%=item.manufacturer%></p>
            <p class="item-info__category link"><%=item.category%></p>
            <p class="item-info__price"><%=item.price%> руб</p>

            <div class="item__buy">
                <label>Купить</label>
                <input type="number" value="1" min="0" class="item__buy-input"/>
                <span>шт.</span>
            </div>

            <div class="item__cart button">
                <i class="fa fa-cart-plus"></i>
                <span>В корзину</span>
            </div>
        </div>
    </div>
</div>